@media screen and (max-width: 1120px) {
  .container {
    max-width: 1000px;
  }

  header {
    min-width: 1000px;
    gap: 20px;
  }

  .header__links {
    gap: 10px;
  }

  .header__icons {
    gap: 20px;
  }

  .under_header_section {
    gap: 0;
    margin: 100px auto;
  }

  .under_header_section__right__third_img {
    right: 0;
  }

  .show_me_section__title {
    font-size: 80px;
  }

  .show_me_section__title__first_img {
    position: absolute;
    left: -120px;
    top: -165px;
  }

  .show_me_section__title__second_img {
    position: absolute;
    right: 80px;
    top: -100px;
  }

  .show_me_section__title__third_img {
    position: absolute;
    right: -50px;
    top: 0px;
  }

  .listings_section__lists {
    grid-template-columns: 1fr 1fr;
  }

  .stats_section__token_box {
    gap: 0;
  }

  .stats_section__token_box__percents__values__percent {
    font-size: 38px;
  }

  .stats_section__token_box__percents__values__item {
    font-size: 28px;
  }

  .stats_section__token_box__percents {
    width: 300px;
    height: 300px;
    margin: 0 0 0 20px;
  }

  .dex_listings {
    right: 10px;
    top: 99px;
  }

  .liquidity_pool {
    right: 190px;
    bottom: 64px;
  }

  .stats_section__token_box__percents {
    width: 400px;
    height: 400px;
  }

  .tba_section__tba {
    font-size: 400px;
  }

  .tba_section__tba__bear {
    position: absolute;
    bottom: -310px;
    right: 66px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 900px;
  }

  header {
    min-width: 900px;
  }

  .under_header_section {
    font-size: 85px;
  }

  .stats_section__token_box__values {
    font-size: 60px;
  }

  .show_me_section {
    padding: 200px 0;
  }

  .liquidity_pool {
    right: 190px;
  }
}

@media screen and (max-width: 940px) {
  .container {
    max-width: 800px;
  }

  header {
    min-width: 800px;
  }

  .show_me_section__title {
    font-size: 50px;
  }

  .show_me_section__title__second_img {
    right: 120px;
  }

  .show_me_section__title__first_img {
    left: -70px;
  }

  .show_me_section__title__third_img {
    right: 10px;
  }

  .height {
    height: 100px;
  }

  .stats_section__token_box {
    gap: 0;
  }

  .stats_section__token_box__values {
    font-size: 40px;
  }

  .liquidity_pool {
    right: 200px;
  }

  .dex_listings {
    right: 60px;
  }

  .tba_section__tba__bear {
    right: 12px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 700px;
  }

  header {
    min-width: 700px;
  }

  .under_header_section {
    font-size: 65px;
  }

  .under_header_section__right__second_img {
    height: 350px;
  }

  .under_header_section__right {
    min-width: 380px;
  }

  .show_me_section__text {
    font-size: 24px;
    padding: 20px 0;
  }

  .show_me_section__image__round_img {
    height: 500px;
  }

  .listings_section__lists {
    grid-template-columns: 1fr;
  }

  .listings_section__title {
    font-size: 80px;
  }

  .stats_section__token_box__percents {
    width: 300px;
    height: 300px;
  }

  .stats_section__token_box__percents__values__item {
    font-size: 20px;
  }

  .stats_section__token_box__percents__values__percent {
    font-size: 25px;
  }

  .dex_listings {
    right: 70px;
    top: 125px;
  }

  .liquidity_pool {
    right: 220px;
    bottom: 100px;
  }

  .tba_section__tba {
    font-size: 300px;
  }

  .tba_section {
    margin: 60px auto 300px;
  }

  .tba_section__title {
    font-size: 80px;
  }

  .tba_section__tba__bear {
    right: 5px;
    bottom: -333px;
  }
}

@media screen and (max-width: 725px) {
  .container {
    max-width: 500px;
  }

  header {
    min-width: 500px;
  }

  .header__logo_box {
    gap: 10px;
    white-space: nowrap;
  }

  .header__logo_box__main_title_color {
    margin-left: -5px;
  }

  .header__logo_box__title {
    font-size: 24px;
  }

  .header__links {
    font-size: 16px;
  }

  .header__icons {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    gap: 10px;
  }

  .header__icons img {
    height: 30px;
  }

  .under_header_section {
    font-size: 40px;
  }

  .under_header_section__right__second_img {
    height: 250px;
  }

  .under_header_section__right {
    min-width: 300px;
  }

  .under_header_section__right__first_img {
    top: -20px;
    height: 80px;
  }

  .under_header_section__right__second_img {
    top: 10px;
  }

  .under_header_section__right__third_img {
    height: 70px;
  }

  .show_me_section {
    padding: 120px 0 50px;
  }

  .show_me_section__title__first_img {
    left: -70px;
    height: 205px;
    top: -90px;
  }

  .show_me_section__title__second_img {
    right: 25px;
  }

  .show_me_section__title__third_img {
    right: -50px;
    height: 150px;
  }

  .show_me_section__image {
    margin-top: 50px;
  }

  .show_me_section__image__first_potato {
    left: 100px;
    top: 40px;
  }

  .show_me_section__image__third_potato {
    right: -27px;
  }

  .show_me_section__image__second_potato {
    left: 56px;
  }

  .listings_section {
    padding: 0 0 50px;
  }

  .listings_section__title {
    font-size: 60px;
  }

  .stats_section__title {
    font-size: 60px;
  }

  .stats_section__token_box {
    padding: 100px 0;
  }

  .stats_section__token_box__values {
    font-size: 24px;
  }

  .dex_listings {
    right: -7px;
    top: 54px;
  }

  .liquidity_pool {
    right: 120px;
    bottom: 24px;
  }

  .tba_section__title {
    font-size: 60px;
  }

  .tba_section__tba__bear {
    right: 60px;
    bottom: -152px;
    height: 200px;
  }

  .tba_section {
    margin: 60px auto 150px;
  }

  .tba_section__tba {
    font-size: 200px;
  }

  footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 725px) {
  .container {
    max-width: 450px;
  }

  header {
    min-width: 450px;
  }

  .show_me_section__title {
    margin-bottom: 50px;
    font-size: 40px;
  }

  .show_me_section__title__first_img {
    left: 5px;
    height: 100px;
    top: -29px;
  }

  .show_me_section__title__second_img {
    right: 64px;
    height: 100px;
    top: -70px;
  }

  .show_me_section__title__third_img {
    right: 0;
    height: 100px;
  }

  .listings_section__title {
    font-size: 40px;
  }

  .listings_section__lists {
    margin: 30px 0;
  }

  .stats_section__token_box__percents {
    width: 200px;
    height: 200px;
  }

  .stats_section__title {
    font-size: 40px;
  }

  .tba_section__title {
    font-size: 40px;
  }

  .tba_section__tba__bear {
    right: 36px;
    bottom: -153px;
    height: 200px;
  }
}

@media screen and (max-width: 520px) {
  .show_me_section__image__round_img {
    height: 400px;
  }

  .show_me_section__image__third_potato {
    right: 19px;
  }

  .dex_listings {
    right: 10px;
    top: 54px;
  }
}

@media screen and (max-width: 475px) {
  .container {
    max-width: 400px;
  }

  header {
    min-width: 400px;
  }

  .header__logo_box {
    gap: 0;
  }

  .header__icons {
    grid-template-columns: repeat(4, 30px);
    gap: 5px;
  }

  .header__logo_box img {
    height: 30px;
  }

  .under_header_section {
    margin: 30px auto;
  }

  .under_header_section__right {
    min-width: 200px;
  }

  .under_header_section__right__second_img {
    height: 150px;
  }

  .under_header_section__right__third_img {
    height: 60px;
  }

  .under_header_section__right__second_img {
    top: 50px;
  }

  .under_header_section__right__first_img {
    top: 14px;
    height: 60px;
  }

  .show_me_section__title__first_img {
    left: -4px;
    height: 73px;
    top: -9px;
  }

  .show_me_section__title__second_img {
    right: 58px;
    height: 65px;
    top: -43px;
  }

  .show_me_section__title__third_img {
    right: 0;
    height: 65px;
  }

  .dex_listings {
    right: -4px;
    top: 54px;
  }

  .stats_section__token_box__percents__values__item {
    font-size: 14px;
  }

  .liquidity_pool {
    right: 84px;
    bottom: 44px;
  }

  .tba_section__tba__bear {
    right: 7px;
    bottom: -153px;
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    padding: 20px 10px;
  }

  header {
    min-width: 325px;
    gap: 10px;
  }

  .header__links {
    gap: 5px;
    font-size: 14px;
  }

  .show_me_section__title {
    font-size: 34px;
  }

  .show_me_section__image__round_img {
    height: 300px;
  }

  .show_me_section__image__first_potato {
    left: 91px;
    top: 40px;
  }

  .show_me_section__image__second_potato {
    left: 4px;
    top: 140px;
  }

  .show_me_section__image__third_potato {
    right: 30px;
    bottom: 146px;
  }

  .height {
    height: 80px;
  }

  .stats_section__token_box__values {
    font-size: 20px;
  }

  .stats_section__token_box__percents {
    width: 150px;
    height: 150px;
  }

  .dex_listings {
    right: -2px;
  }

  .liquidity_pool {
    right: 114px;
  }

  .tba_section__tba {
    font-size: 120px;
  }

  .tba_section__tba__bear {
    right: 69px;
    bottom: -101px;
    height: 131px;
  }

  .tba_section {
    margin: 60px auto 80px;
  }

  .listings_section__lists__list {
    min-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .under_header_section {
    font-size: 34px;
  }

  header {
    gap: 5px;
  }

  .under_header_section__right__second_img {
    height: 100px;
  }

  .under_header_section__right {
    min-width: 340px;
  }

  .under_header_section__right__second_img {
    top: 64px;
    right: 21px;
  }

  .stats_section__token_box__values {
    font-size: 15px;
  }

  .show_me_section__title {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .header__logo_box__title {
    font-size: 20px;
  }

  .tba_section__tba__bear {
    right: 56px;
  }
}
